//
// alerts.scss
//

.alert-border {
    background-color: $card-bg;
    border-color: $light;
    border-left: 2px solid $light;
}
.alert-outline{
    background-color: $white;
}
@each $color,
$value in $theme-colors {
    .alert-border-#{$color} {
        border-left-color: $value;
    }

    .alert-outline{
        .alert-#{$color} {
            border: 1px solid rgba($value, .8);
            color: $value;
        }
    }
}

.alert-dismissible {
    .btn-close{
      font-size: 10px;
      padding: $alert-padding-y * 1.5 $alert-padding-x;
    }
  }

